extends layout

block content
    div(class='container-fluid d-grid gap-2')
        a(role='button' class='btn btn-primary' href='/image') Bilder anpassen
        a(role='button' class='btn btn-primary' href='/directory') Ordner verwalten
        hr(class='m-1')
        a(role='button' class='btn btn-primary' href='/slide') Diashow
        hr(class='m-1')
        a(role='button' class='btn btn-primary' href='/screen') Bildschirm
        hr(class='m-1')
        a(role='button' class='btn btn-primary' href='/automation') Automatisierung
        hr(class='m-1')
        form(method='post' enctype='multipart/form-data' action='/power/off' id='power_off' class='d-grid')
            button(type='submit' class='btn btn-warning') Bilderrahmen herunterfahren
        form(method='post' enctype='multipart/form-data' action='/power/reboot' id='power_reboot' class='d-grid')
            button(type='submit' class='btn btn-warning') Bilderrahmen neustarten
        hr(class='m-1')
        a(role='button' class='btn btn-secondary' href='/update') Updates

    script(src='javascripts/confirm.js')
    script.
        custom_confirm("#power_off", "Herunterfahren", "Soll der Bilderrahmen wirklich heruntergefahren werden?", "Nein", "Ja");
        custom_confirm_alt("#power_reboot", "Neustarten", "Soll der Bilderrahmen wirklich neugestartet werden?", "Nein", "Ja");
