doctype html
html(lang='de' data-bs-theme='dark')
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/assets/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/assets/vendor/bootstrap/css/bootstrap-icons.min.css')
        link(rel='stylesheet', href='/assets/vendor/viewerjs/viewer.min.css')
        link(rel='apple-touch-icon' sizes='180x180' href='images/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='images/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='images/favicon-16x16.png')
        link(rel='manifest' href='/manifest.json')
        link(rel='mask-icon' href='images/safari-pinned-tab.svg' color='#5bbad5')

        meta(name='viewport' content='width=device-width, initial-scale=1')

        script(src='/assets/vendor/jquery/jquery.min.js')
        script(src='/assets/vendor/bootstrap/js/bootstrap.min.js')
        script(src='/assets/vendor/viewerjs/viewer.min.js')
        script(src='/javascripts/theme.js')
    body
        div(id='content')
            nav(class='navbar fixed-top' style='background-color: #457B9D')
                div(class='container-fluid')
                    a(class='navbar-brand' href='/')
                        img(src='images/favicon.svg' width='30' height='30' class='d-inline-block align-top' alt='')
                        span()  #{title}

            div(class='modal fade' id='modal' tabindex='-1' role='dialog' aria-labelledby='modal_header' aria-hidden='true')
                div(class='modal-dialog modal-dialog-centered' role='document')
                    div(class='modal-content')
                        div(class='modal-header')
                            h5(class='modal-title' id='modal_header')
                            button(type='button' class='btn close' data-bs-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        div(class='modal-body' id='modal_text')
                        div(class='modal-footer')
                            button(type='button' class='btn btn-secondary' data-bs-dismiss='modal' id='modal_no')
                            button(type='button' class='btn btn-primary' id='modal_yes')

            div(class='modal fade' id='modal_alt' tabindex='-1' role='dialog' aria-labelledby='modal_alt_header' aria-hidden='true')
                div(class='modal-dialog modal-dialog-centered' role='document')
                    div(class='modal-content')
                        div(class='modal-header')
                            h5(class='modal-title' id='modal_alt_header')
                            button(type='button' class='btn close' data-bs-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        div(class='modal-body' id='modal_alt_text')
                        div(class='modal-footer')
                            button(type='button' class='btn btn-secondary' data-bs-dismiss='modal' id='modal_alt_no')
                            button(type='button' class='btn btn-primary' id='modal_alt_yes')

            block content

            div(class='container my-5')
                footer(class='text-center d-flex flex-column flex-md-row justify-content-between align-items-center')
                    div(class='text-center') Software-Version: #{__version}
                    div(class='text-center') © 2025 Moritz Biering. All Rights Reserved.
