extends layout

block content
    div(class='container')
        h2() #{header}
        p() #{description}

    script.
        setInterval(function() {
            fetch("/")
                .then(response => {
                    if (response.ok) {
                        window.location.href = "/";
                    }
                })
                .catch(() => {});
        }, 5000);
