body {
    padding: 80px 0 0 0;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* * {
    border-color: black;
    border-style: dashed;
} */

a {
    color: #00B7FF;
}

.top-pad {
    padding-top: 10px;
}

.left-pad {
    padding-left: 5px;
}
