body {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
    padding: 80px 0 0 0;
    background-color: #b8b8b8;
}

html {
    background-color: #b8b8b8;
}

.container-fluid {
    background-color: #b8b8b8;
}

.top-pad {
    padding-top: 10px;
}

.left-pad {
    padding-left: 5px;
}
