extends layout

block content
    div(class='container-fluid')
        a(role='button' class='btn btn-primary btn-block' href='/image') Bilder anpassen
        a(role='button' class='btn btn-primary btn-block' href='/directory') Ordner verwalten
        hr
        a(role='button' class='btn btn-primary btn-block' href='/slide') Diashow-Modus
        a(role='button' class='btn btn-primary btn-block' href='/info') Info-Modus
        hr
        a(role='button' class='btn btn-primary btn-block' href='/screen') Bildschirm
        hr
        form(method='post' enctype='multipart/form-data' action='/power/off' id='power_off')
            button(type='submit' class='btn btn-warning btn-block') Bilderrahmen herunterfahren
        form(method='post' enctype='multipart/form-data' action='/power/reboot' id='power_reboot' class='top-pad')
            button(type='submit' class='btn btn-warning btn-block') Bilderrahmen neustarten
        hr
        a(role='button' class='btn btn-secondary btn-block' href='/update') Updates
    
    script(src='javascripts/confirm.js')
    script.
        custom_confirm("#power_off", "Herunterfahren", "Soll der Bilderrahmen wirklich heruntergefahren werden?", "Nein", "Ja");
        custom_confirm_alt("#power_reboot", "Neustarten", "Soll der Bilderrahmen wirklich neugestartet werden?", "Nein", "Ja");
