doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='apple-touch-icon' sizes='180x180' href='images/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='images/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='images/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='images/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='theme-color' content='#ab4b4b')
  body
    block content

script(src='jquery.min.js')
script(src='js/bootstrap.min.js')
script(src='javascripts/update.js')
