extends layout

block content
    div(class='container-fluid')
        form(method='post' enctype='multipart/form-data' action='/slide/start')
            label(for='fdirs' class='sr-only') Ordner
            select(class='form-control' id='fdirs' name='fdirs' multiple)
                option(value='' selected disabled hidden) -- Ordner auswählen --
                each dir in dirs
                    option(value=dir) #{dir}
            hr
            div(class='btn-group btn-group-toggle btn-block' data-toggle='buttons')
                label(class='btn btn-outline-info active') Zufällige Reihenfolge
                    input(type='checkbox' id='frandom' name='frandom' checked autocomplete='off')
            div(class='btn-group btn-group-toggle btn-block' data-toggle='buttons')
                label(class='btn btn-outline-info active') Bildname anzeigen
                    input(type='checkbox' id='fname' name='fname' autocomplete='off')
            div(class='input-group top-pad')
                div(class='input-group-prepend')
                    span(class='input-group-text') Zeit pro Bild
                input(type='number' class='form-control' min='5' max='300' value='30' id='ftime' name='ftime' autocomplete='off')
                div(class='input-group-append')
                    span(class='input-group-text') s
            div(class='input-group top-pad')
                div(class='input-group-prepend')
                    span(class='input-group-text') Übergangszeit
                input(type='number' class='form-control' min='0' max='1000' value='200' id='fblend' name='fblend' autocomplete='off')
                div(class='input-group-append')
                    span(class='input-group-text') ms
            br
            button(type='submit' class='btn btn-success btn-block') Diashow starten
