[Unit]
Description=imageframe
After=network.target

[Service]
ExecStart=/usr/bin/npm run start --prefix /home/imageframe/code
WorkingDirectory=/home/imageframe/code
Restart=always
User=imageframe
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
StandardOutput=file:/var/log/imageframe.log
StandardError=file:/var/log/imageframe.log

[Install]
WantedBy=multi-user.target
