[Unit]
Description=imageframe
After=network.target

[Service]
ExecStartPre=/bin/bash -c 'if [[ ! -p /tmp/fbi-status ]]; then mkfifo /tmp/fbi-status; fi'
ExecStartPre=/bin/bash -c 'if [[ ! -p /tmp/fbi-commands ]]; then mkfifo /tmp/fbi-commands; fi'
ExecStart=/usr/bin/npm run start --prefix /home/imageframe/code
WorkingDirectory=/home/imageframe/code
Restart=always
User=imageframe
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
StandardOutput=file:/var/log/imageframe.log
StandardError=file:/var/log/imageframe.log

[Install]
WantedBy=multi-user.target
